<html>
    <body>
        <h1>
            This is my Fabulous Web page
        </h1>
<!-- List of staff will be here -->
        <table>
        {% for staffperson in jistaff %}
        <tr>
        <td>The instructors name is {{  staffperson.staff_name }}</td>
        <td>instructors id is {{ staffperson.id }}</td>
        <td>The instructors subject_id is {{ staffperson.subject_id }}</td>
        </tr>
        {% endfor %}
        </table>
<!-- End List -->
<!-- Form will be here -->
<div class='form'>
    <form method='POST' action=''>
        {{ jiform.hidden_tag() }}
        {{ jiform.Name.id}} {{jiform.Name}}
        {{ jiform.subjid.id }}  {{ jiform.subjid }}
        {{ jiform.submit }}
        {{ jisubjectform.subjlist}}
<!-- End of Form -->
    </body>
</html>


