[Unit]
Description=Mount unit for core18, revision 2632
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/core18_2632.snap
Where=/snap/core18/2632
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=default.target multi-user.target
